[Desktop Entry]
Version=1.0
Type=Link
Name=DisplayLink USB Graphics Software for Ubuntu
Comment=
Icon=user-bookmarks
URL=https://www.displaylink.com/downloads/file?id=1576
